@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: v.$text-md;
    font-weight: bold;
    color: v.$primary;
    padding-bottom: v.$space-md;
  }

  .korean-textarea {
    @include m.card;
    font-family: inherit;
    resize: none;
    border: none;

    &:focus {
      outline: 0;
    }
  }
}
