@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

.result-container {
  width: 100%;
  @include m.flex-column;
  .title {
    color: v.$primary;
    padding-bottom: v.$space-md;
  }

  .result-card {
    @include m.card;
  }
}
