$font-base: "Noto Sans KR", sans-serif;
$font-special: "Do Hyeon", sans-serif;

$primary: #00cc88;
$accent: #0099ff;
$warn: #ff0000;
$gray: #ccc;
$white: #fff;

$text-base-size: 1em;
$text-xs: 0.8em;
$text-sm: 1em;
$text-md: 1.2em;
$text-lg: 1.5em;
$text-xl: 1.8em;
$text-xxl: 2em;

$space-unit: 1em;
$space-xxxxs: calc(0.125 * 1em);
$space-xxxs: calc(0.25 * 1em);
$space-xxs: calc(0.375 * 1em);
$space-xs: calc(0.5 * 1em);
$space-sm: calc(0.75 * 1em);
$space-md: calc(1.25 * 1em);
$space-lg: calc(2 * 1em);
$space-xl: calc(3.25 * 1em);
$space-xxl: calc(5.25 * 1em);
$space-xxxl: calc(8.5 * 1em);
$space-xxxxl: calc(13.75 * 1em);

$transition-primary: 0.4s;
$breakpoint-desktop: 1024px;
