@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

header {
  @include m.center;

  .title {
    color: v.$primary;
    font-family: v.$font-special;
  }

  .description {
    font-size: v.$text-md;
    font-weight: bold;
  }

  .detail {
    font-size: v.$text-sm;
  }
}
