@use "../../globalStyle/variables" as v;

@keyframes load-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;

  &::after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid v.$primary;
    border-color: v.$primary transparent v.$primary transparent;
    animation: load-animation 1.2s linear infinite;
  }
}
