@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

footer {
  width: 100%;
  text-align: center;
  margin-top: v.$space-md;

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }
  .author {
    color: v.$primary;
  }
}
