@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

footer {
  width: 100%;
  text-align: center;

  a {
    color: v.$primary;
    font-weight: bold;
    text-decoration: none;
  }
}
