@use "../../globalStyle/variables" as v;
@use "../../globalStyle/mixins" as m;

.hiragana-container {
  width: 100%;
  padding: v.$space-md 0;
  @include m.flex-column;

  .title {
    color: v.$primary;
  }
}
