@use "../../globalStyle/mixins" as m;

.converter-container {
  display: flex;
  justify-content: space-evenly;

  .process {
    width: 100%;
    @include m.flex-column;
  }

  @include m.tablet {
    flex-direction: column;
  }
}
