@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import "./globalStyle/variables";

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  body,
  html {
    height: 100%;
    overflow-x: hidden;
    font-family: $font-base;
  }

  .layout {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }
}
